<!DOCTYPE html>
<html lang="en">
<head>
    <title>Innominds Empployees</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/style.css" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>    
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="frontMargin">
 
<form action="" method="">
  <div class="imgcontainer">
    <img src="./images/inno.png" alt="Avatar" class="inno">
  </div>

   <h1>Employee Registration</h1>


  <div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email Address" name="email" required>

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pwd" required>

    <label><b>Confirm Password</b></label>
    <input type="password" placeholder="Re-Enter Password" name="pwd" required>
        
    <button type="submit">Register</button>
    
  </div>

  <div class="container" style="background-color:#green">
    <button type="reset" value="reset" class="cancelbtn">Clear</button>
 
     <span class="nuser">Registred User?<a href="/login">Login Here</a></span>
  </div>
</form>


</body>

</html>
