<!DOCTYPE html>
<html lang="en">
<head>
    <title>Innominds Empployees</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/style.css" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>    
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="welcomeimgcontainer">
    <img src="./images/inno.png" alt="Avatar" class="inno">
    <h2>Welcome to Innominds</h2>
  </div>     
    <form method=""  action="">    
        <div class="welcomelist">
            <ul>
                <li>Email :</li>
                <li>Username : <%= data%></li>
                <li></li>
                <li></li>            
            </ul>
        </div>
  
 
</form>
</body>

</html>
